{% extends "AppUniversidad/padre2.html" %}
{% load static %}

{% block titulo %}

{% for consulta in consultas %}
<li> {{consulta}} </li>


<button>
    <a href="{% url 'EliminarConsulta' consulta.id %}" > Eliminar </a>
</button>
<button>
    <a href="{% url 'editarConsulta' consulta.id %}" > Editar </a>
</button>
<button>
    <a href="{% url 'detalleConsulta' consulta.id %}" > Ver </a>
</button>

{% endfor %}

<br>
<br>

<a class="btn btn-primary" href="{% url 'crearConsulta' %}">Hacer consulta</a>

{% endblock %}


